.pagination{line-height: 50px;}
.pagination li{margin:5px;}

.avatar-img{
    opacity:0.5;
    filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */
}
.avatar-img:hover{
    opacity:0.9;
    filter:alpha(opacity=90); /* 针对 IE8 以及更早的版本 */
}

.table>thead>tr>th{
    padding: 0px !important;
    text-align: center;
    margin: auto;
}
.table>thead>tr>th>a{
    color: #575962;
    font-style: normal;
}
.table>thead>tr>th>.asc:after{
    content:"\25B2";
}
.table>thead>tr>th>.desc:after{
    content:"\25BC";
}