nav>ul>li>a,nav>ul>li>a:hover{color: #fefefe}
/*幻灯*/
 .slider{position:relative;text-align:center; margin:0 auto;z-index:1}
 #sd1 .slider .bd,#sd1 .slider .bd li,#sd1 .slider .bd img{width:960px; height:272px}/*首页幻灯*/
 #sd2 .slider .bd,#sd2 .slider .bd li,#sd2 .slider .bd img{width:300px; height:300px}/*产品轮播*/
 .slider .bd{z-index:2;overflow:hidden}
 .slider .bd li{float:left;width: 100%;overflow:hidden; background-position:center; background-repeat:no-repeat}
 .slider .bd li a{ display:block; width: 100%; height: 100%}
 .slider .bd li img{display:block}
 .slider .hd{ position: absolute; z-index: 3; left: 0; right: 0; bottom:10px; padding: 0 10px; text-align: center}
 .slider .hd li{display:inline-block;text-align:center;margin-right:10px;cursor:pointer;background-color:#C2C2C2}
 .slider .hd li.active{background-color:#222}
/*圆点*/
.dots li{width:10px; height:10px;font-size:0px;line-height:0px;border-radius:50%}
/*数字*/
.numbox li{width:20px; height:20px; line-height:20px; font-size:13px;font-family:Arial;font-weight:bold; text-indent:inherit}
.numbox li.active{color:#fff}
/*长方条*/
.rectangle li{width:40px; height:10px;font-size:0px;line-height:0px}

.footer{border-top:1px solid #E8E8E8; padding:15px 0;font-family:tahoma,Arial;font-size:12px;color:#999;line-height:22px;text-align:center}
.footer a,.footer a:hover{color:#999}
/*面包*/
.breadcrumb{border-bottom: 1px solid #E5E5E5;line-height: 39px; height:39px}
.breadcrumb span{padding:0 5px}
/*广告遮罩*/
.maskBar{position:absolute;height:auto;left:0; bottom:-100%; right:0;padding:10px;background-color:rgba(0,0,0,0.6);z-index:2; color:#fff!important}
.maskWraper{position:relative; overflow:hidden}
.maskWraper.hover .maskBar{bottom:0px;
    transition: bottom 200ms;
    -moz-transition: bottom 200ms; /* Firefox 4 */
    -webkit-transition: bottom 200ms; /* Safari 和 Chrome */
    -o-transition: bottom 200ms; /* Opera */
}
.maskBox{position:absolute;width:100%; height:100%;top:0;left:0; bottom:0;right:0;z-index:2;color:#fff!important}
.maskWraper.hover .maskBox{background-color:rgba(0,0,0,0.6);
    transition: all 500ms;
    -moz-transition: all 500ms; /* Firefox 4 */
    -webkit-transition: all 500ms; /* Safari 和 Chrome */
    -o-transition: all 500ms; /* Opera */
}
/**/
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-weight:normal;line-height:1;color:#999}
h1,h2,h3{margin-top:20px;margin-bottom:10px}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:65%}
h4,h5,h6{margin-top:10px;margin-bottom:10px}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:14px}
h6{font-size:12px}

p{margin-bottom:10px}		/*段落*/
small{font-size:85%}		/*小型文本*/
b,strong {font-weight: bold}	/*重要的文本，加粗*/
em{font-style:italic}		/*被强调的文本*/
i{}				/*斜体*/
u{}				/*加下划线*/
cite{font-style:normal}		/*引用*/
mark{color:#000;background:#ff0}/*突出显示文本*/
var{}				/*变量*/
kbd{}				/*键盘文本*/
code{}				/*计算机代码文本*/
dfn{font-style: italic}	/*一个定义项目*/
del{font-family:Simsun}		/*删除线*/
code,kbd,pre,samp {font-family: monospace, serif;font-size: 1em}
pre{white-space: pre-wrap}	/*预格式化的文本*/
.uppercase{text-transform:uppercase} /*文字大写*/
.lowercase{text-transform:lowercase} /*文字小写*/
.capitalize{text-transform:capitalize} /*首字母大写*/

.panel a{font-size: 16px;}
.share a{font-size: 26px;}
.pageNav{list-style: none;}
.pageNav .item{float: left;}

#vcode{cursor: pointer;}